
.main {
  max-width: 1500px;
  margin: auto;
  position: relative;
}

.error {
  text-align: center;
  color: var(--button-color);
  margin-top: 1em;
}


@media (min-width: 701px) and (max-width: 1120px) {
  
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

