.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5em;
    margin-top: 5em;
}

.text {
    line-height: 1.5;
    margin-bottom: 3em;
}

.errorCode {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 3em;
}

.link {
    text-decoration: none;
    margin-bottom: 3em;
}